.result-heading {
    position: absolute;
    font-size: 6rem;
    top: 4em;
}

.question-title {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1.5rem;
}

.add-btn {
    font-size: 1rem !important;
    width: 10vw;
    height: 2em;
}