@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.result-heading {
    position: absolute;
    font-size: 6rem;
    top: 3.5em;
}

.question-title {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1.3rem;
}

.add-btn {
    font-size: 1rem !important;
    width: 10vw;
    height: 2em;
}