.calendar {
  height: 100vh;
  margin: 3em;
}

.rbc-event {
  background: #cacaca;
}
.rbc-calendar *,
.rbc-toolbar button {
  color: #3b82f6;
}

.rbc-event.rbc-selected {
  background: rgb(238, 221, 235);
}